# Add an Environment Property of PAPERTRAIL_HOSTNAME and set the value to nextkillerapp-$HOSTNAME
container_commands:
  pt_hostname:
    command: "eval export PAPERTRAIL_HOSTNAME=$PAPERTRAIL_HOSTNAME && sed -i \"s/.*hostname:.*/hostname: $PAPERTRAIL_HOSTNAME/\" /etc/log_files.yml"
    test: test -e /etc/log_files.yml
    ignoreErrors: false
