@import "../../theme/variables.scss";
.group {
  display: inline-block;
}
.loggedIn {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin: 0;
}
.user {
  p {
    display: inline-block;
    margin-right: 5px;
    color: white;
  }
  a {
    color: $light-grey;
  }
}
.back {
  fill: $primary-three;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

