@import "../../theme/variables.scss";
.group {
  display: inline-block;
}
.back {
  fill: $primary-three;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

